<div class="row">
  <div class="col-sm-12">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="col-sm-12">
    <div class=" card text-white bg-secondary">
      <div class="card-body">
        <div class="row">

          <div class="col-sm-3" align="right"><i class="icon ion-md-search"></i></div>
          <div class="col-sm-6">
            <input class="form-control " [(ngModel)]="searchText" type="search" placeholder="Buscar Usuario...." aria-label="Search">
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Usuario:</h3>
        <hr class="my-3">
        <div class="row">
          <div class="col-sm-4" *ngFor=" let nombre of arrayNombresUsuarios | search: searchText; let indice=index ">
            <div *ngFor="let usuario of usuarios">
              <div *ngIf="usuario.nombre_usuario==nombre && indice<=2">
                <div class="card" [routerLink]="['/usuario',usuarios.id_usuario]">
                  <div align="center" height="200" width="200"><img class="card-img-top img-fluid" style="width: 50%" [src]="usuario.urlFoto" height="200" width="200" alt="Card image cap"></div>
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{usuario.nombre_usuario}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="demo" class="collapse">
          <div class="row">
            <div class="col-sm-4"
                 *ngFor=" let nombre of arrayNombresUsuarios | search: searchText; let indice=index ">
              <div *ngFor="let usuario of usuarios">
                <div *ngIf="usuario.nombre_usuario==nombre && indice>2">
                  <div class="card" [routerLink]="['/usuario',usuarios.id_usuario]">
                    <div align="center"><img class="card-img-top img-fluid" style="width: 50%" [src]="usuario.urlFoto" alt="Card image cap"></div>

                    <h5 class="card-title" style="text-align: center">{{usuario.nombre_usuario}} </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-12" align="center" *ngIf="arrayNombresUsuarios.length>2">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3"><button  type="button" class="btn btn-info"  data-toggle="collapse" data-target="#demo"  >Anterior</button></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-3"><button (click)="mostrarAnterior" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Siguiente</button></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Actores:</h3>
        <hr class="my-3">
        <div class="row">
          <div class="col-sm-4" *ngFor=" let nombre of arrayNombresActores | search: searchText; let indice=index ">
            <div *ngFor="let actor of actores">
              <div align="center" *ngIf="actor.nombres==nombre && indice<=2">
                <div class="card" [routerLink]="['/actor',actor.id_actor]">
                  <div align="center" ><img class="card-img-top img-fluid" style="width: 50%" [src]="estudiante.urlFotoEstudiante" height="200" width="200" alt="Card image cap"></div>
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{actor.nombres}} {{actor.apellidos}}
                    </h5>
                    <p class="card-text">Numero Peliculas: {{actor.numeroPeliculas}}</p>
                    <p class="card-text">Retirado: {{actor.retirado}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="demo1" class="collapse">
          <div class="row">
            <div class="col-sm-4"
                 *ngFor=" let nombres of arrayNombresEstudiantes | search: searchText; let indice=index ">
              <div *ngFor="let estudiante of estudiantes">
                <div *ngIf="estudiante.nombres==nombres && indice>3">
                  <div class="card" [routerLink]="['/estudiante',estudiante.id_estudiante]">
                    <div align="center"><img class="card-img-top img-fluid" style="width: 50%" [src]="estudiante.urlFotoEstudiante" alt="Card image cap"></div>

                    <h5 class="card-title" style="text-align: center">{{actor.nombres}} {{actor.apellidos}} </h5>
                    <p class="card-text">Numero Peliculas: {{actor.numeroPeliculas}}</p>
                    <p class="card-text">Retirado: {{actor.retirado}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-12" align="center" *ngIf="arrayNombresEstudiantes.length>3">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3"><button class="boton1" type="button" class="btn btn-info"  data-toggle="collapse" data-target="#demo1" disabled>Anterior</button></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-3"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Siguiente</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3>Materias:</h3>
        <hr class="my-3">
        <div class="row">
          <div class="col-sm-4" *ngFor=" let nombre of arrayNombresMaterias | search: searchText; let indice=index ">
            <div *ngFor="let materia of materias ">
              <div *ngIf="materia.nombre==nombre && indice<3">
                <div class="card" [routerLink]="['/materia',materia.id_materia]">
                  <div align="center" height="200" width="200"><img class="card-img-top img-fluid" style="width: 50%" [src]="materia.urlFotoMateria" height="200" width="200" alt="Card image cap"></div>
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{pelicula.nombre}}
                      <p class="card-title">idPelicula: {{{{pelicula.idPelicula}}}}</p>
                      <p class="card-title">Actores Principales: {{pelicula.actoresPrincipales}}</p>
                      <p class="card-title">Anio Lanzamiento: {{pelicula.anioLanzamiento}}</p>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="demo2" class="collapse">
          <div class="row">
            <div class="col-sm-4"
                 *ngFor=" let nombre of arrayNombresMaterias | search: searchText; let indice=index ">
              <div *ngFor="let materia of materias">
                <div *ngIf="materia.nombre==nombre && indice>3">
                  <div class="card" [routerLink]="['/materia',materia.id_materia]">
                    <div align="center"><img class="card-img-top img-fluid" style="width: 50%" [src]="materia.urlFotoMateria" alt="Card image cap"></div>

                    <h5 class="card-title" style="text-align: center">{{pelicula.nombre}} </h5>
                    <p class="card-title">idPelicula: {{pelicula.idPelicula}}</p>
                    <p class="card-title">Actores Principales: {{pelicula.actoresPrincipales}}</p>
                    <p class="card-title">Anio Lanzamiento: {{pelicula.anioLanzamiento}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12"><br></div>
        <div class="col-sm-12" align="center" *ngIf="arrayNombresMaterias.length>3">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3"><button class="boton1" type="button" class="btn btn-info"  data-toggle="collapse" data-target="#demo2" disabled >Anterior</button></div>
            <div class="col-sm-5"></div>
            <div class="col-sm-3"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Siguiente</button></div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
